In [46]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [47]:
books = pd.read_csv('data/books.csv')
ratings = pd.read_csv('data/ratings.csv')
toRead = pd.read_csv('data/toread.csv')
bookTags = pd.read_csv('data/book_tags.csv')

In [48]:
print(bookTags.head(2))
books.head(1)

   goodreads_book_id  tag_id  count
0                 24   31155   2312
1                 24   21689   1971

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,72,11588,11588,849585,289,450040186,9.780450e+12,Stephen King,1977.0,The Shining,...,791850,830881,14936,18487,28981,123862,277393,382158,https://images.gr-assets.com/books/1353277730m...,https://images.gr-assets.com/books/1353277730s...

In [49]:
newDataframe = pd.merge(books, bookTags, on="goodreads_book_id", how = "inner")
newDataframe.head(2)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_id,count
0,72,11588,11588,849585,289,450040186,9.780450e+12,Stephen King,1977.0,The Shining,...,14936,18487,28981,123862,277393,382158,https://images.gr-assets.com/books/1353277730m...,https://images.gr-assets.com/books/1353277730s...,11743,3989
1,72,11588,11588,849585,289,450040186,9.780450e+12,Stephen King,1977.0,The Shining,...,14936,18487,28981,123862,277393,382158,https://images.gr-assets.com/books/1353277730m...,https://images.gr-assets.com/books/1353277730s...,22743,1028

In [50]:
print(newDataframe.shape, books.shape, bookTags.shape)
newDataframe['book_id'].value_counts()

(182400, 25) (1824, 23) (182400, 3)

book_id
72      100
6795    100
6779    100
6774    100
6766    100
       ...
3654    100
3640    100
3622    100
3621    100
9996    100
Name: count, Length: 1824, dtype: int64

In [51]:
sum_count_per_book_id = newDataframe.groupby('original_title')['count'].sum().reset_index()
max_count_book_id = sum_count_per_book_id.loc[sum_count_per_book_id['count'].idxmax()]
print(max_count_book_id)

original_title    Persuasion
count                 282231
Name: 855, dtype: object

In [52]:
unique_tags = bookTags['tag_id'].unique()
print(len(unique_tags))

9054

In [53]:
# which tag_id is mapped with the highest number of books in newDataFrame

tag_id_count = newDataframe.groupby('tag_id')['book_id'].count().reset_index()
#Get the the tag_ids with the highest number of books
max_tag_id = tag_id_count.loc[tag_id_count['book_id'].idxmax()]
print(max_tag_id)

tag_id     11503
book_id     1824
Name: 3213, dtype: int64

In [54]:
ratings.head(2)
len(ratings['user_id'].unique())

52336

In [55]:
print(len(books['book_id'].unique()))

1824

In [56]:
# which books have "original_title" as Null
len(books[books['original_title'].isnull()])

125

In [57]:
min_tag_id = tag_id_count.loc[tag_id_count['book_id'].idxmin()]
print(min_tag_id)

tag_id     18
book_id     1
Name: 0, dtype: int64

In [58]:
sum_count_per_book_id = bookTags.groupby('goodreads_book_id')['count'].sum().reset_index()
print(sum_count_per_book_id.loc[sum_count_per_book_id['count'].idxmin()])

goodreads_book_id    31098
count                  677
Name: 386, dtype: int64

In [59]:
books["work_ratings_count"]
title_to_ratings_count = books.groupby('original_title')['work_ratings_count'].sum().reset_index()
print(title_to_ratings_count.loc[title_to_ratings_count['work_ratings_count'].idxmax()])

original_title        The Shining
work_ratings_count         830881
Name: 1450, dtype: object

In [64]:
# how many positive titles in books using textblob
positive_titles = []
for title in books["original_title"].dropna():
    blob = TextBlob(title)
    if blob.sentiment.polarity >= 0:
        if title not in positive_titles:
            positive_titles.append(title)
print(len(positive_titles))

1507