In [1]:
import pandas as pd
import numpy as np

In [3]:
books = pd.read_csv('data/books.csv')
ratings = pd.read_csv('data/ratings.csv')
toRead = pd.read_csv('data/toread.csv')
bookTags = pd.read_csv('data/book_tags.csv')

In [9]:
print(bookTags.head(2))
books.head(1)

   goodreads_book_id  tag_id  count
0                 24   31155   2312
1                 24   21689   1971

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,72,11588,11588,849585,289,450040186,9.780450e+12,Stephen King,1977.0,The Shining,...,791850,830881,14936,18487,28981,123862,277393,382158,https://images.gr-assets.com/books/1353277730m...,https://images.gr-assets.com/books/1353277730s...

In [ ]:
newDataframe =